<?php
return array(
    'expose-for-zf2' => array(

        'handler' => 'Application/Handler/MyExposeHandler',

        'expose-filters' => function (\Zend\ServiceManager\ServiceLocatorInterface $sl) {
            $filter_collection = new \Expose\FilterCollection();
            $filter_collection->load();
            return $filter_collection;
        },


        'expose-logger' => function (\Zend\ServiceManager\ServiceLocatorInterface $sl) {
            $logger = new \Monolog\Logger('expose');
            return $logger;
        },


        'expose-queue' => NULL,


        'additional-filters' => array
        (
            array
            (
                'id' => 1,
                'rule' => '(?:"[^"]*[^-]?>)|(?:[^\w\s]\s*\/>)|(?:>")',
                'description' => 'finds html breaking injections including whitespace attacks',
                'tags' => array(
                    'tag' => array(
                        'xss',
                        'csrf'
                    )
                ),
                'impact' => 4
            ),
        ),


        'impact-actions' => array(
            0 => array(
                'min' => 4,
                'max' => 8,
                'route' => array(
                    'controller' => 'ExposeForZf2\Controller\Index',
                    'action' => 'warn',
                )
            ),
            1 => array(
                'min' => 9,
                'route' => array(
                    'controller' => 'ExposeForZf2\Controller\Index',
                    'action' => 'ban',
                )
            ),
        ),
    )
);